.sidebar {
    width: 200px;
    height: 100vh;
    background: white;
    padding: 0 1.5rem; /* 24px */
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 3.375rem; /* 54px */
    margin-top: 1rem; /* 16px */
    border-right: 1px solid #F3F3F3;
}

.sidebar-menu {
    padding-top: 1.5rem; /* 24px */
    display: flex;
    flex-direction: column;
    gap: 0.25rem; /* 4px */
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0.55rem 1rem; /* 12px 16px */
    gap: 8px;
    border-radius: 0.7rem; /* 12px */
    cursor: pointer;
    color: #787486;
    transition: all 0.3s ease;
}

.menu-item span {
    font-size: 0.9rem; /* 16px */
    font-weight: 500;
}

.menu-item.active {
    background: #49CCF9;
    color: white;
}

.menu-item:hover:not(.active) {
    background: #F5F5F5;
}

.menu-item.active svg {
    color: white;
}

.sidebar-divider {
    height: 0.0625rem; /* 1px */
    background-color: #E6E4F0;
    margin: 1.25rem 0; /* 24px 0 */
    width: 100%;
}

.sidebar-footer {
    margin-top: auto;
    margin-bottom: 2.25rem; /* 36px */
}